<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ZeusAutomation" configfailurepolicy="continue" verbose="10">
	<test name="WholeTestSuit-all-packages">
		<parameter name="baseUrl" value="https://zeus.telesphere.com/"/>
		<parameter name="browser" value="chrome" />
		 <packages>
		  <package name="Zeus_healthcheck"/>           
         </packages>
	</test>
</suite>
	
